@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container {
    /* width: 4000px;
    height: 900px; */
    /* max-width: 4000px; */
    margin-top: 200px;
    margin-left: 185px;
    /* margin-top: 5%; */
    /* padding: 200px; */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .col-lg-4 {
    flex: 0 0 40%;
    max-width: 25%;
    margin-left: 150px;
    margin-top: 22px;
  }
  .cardbody {
    text-align: center;
    /* margin-right: 30px; */
  }
  #addcrime {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #031a4d;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
  }

  #sub{
    text-decoration: none;
    color: #fff;
  }
  .col-lg-8 {
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: 5%;
    /* padding: 20px; */
    /* border-top: 20px; */
  }
  
  .card {
    border: none;
    border-radius: 18px;
    /* box-shadow: 1px 1px 8px 0 grey; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
  }
  
  .card-body {
    width: 650px;
    padding: 3.75rem;
    margin-left: 4.5%;
    height: 410px;
  }

  .cardbody{
    padding: 3.5rem;
    height: 415px;
  }
  
  .card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    
  }
  
  .text-muted {
    color: #383636;
  }
  /* .profile-info p {
    margin-bottom: 0.5 rem;
  } */ */
  /* Import Font Dancing Script */
/* @import url(https://fonts.googleapis.com/css?family=Dancing+Script); */ */

/* Main */
.main {
    /* margin-top: 50%; */
    /* margin-left: 29%; */
    font-size: 28px;
    /* padding: 0 10px; */
    /* max-width: 45%; */
    flex: 0 0 45%;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    /* box-shadow: 1px 1px 8px 0 grey; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 410px;
    margin-bottom: 100px;
    margin-top: 23px;
    /* padding: 0 0 20px 50px; */
    display: inline-block;
    /* margin-left: 50%; */
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 100%;
    /* margin-left: 50%; */
    /* text-align: center; */
}

/* ////sidebar///// */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #fff;
    --sidebar-color: #031a4d;
    --primary-color: #fff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #fff;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body{
    background-color: var(--body-color);
    transition: var(--tran-05);
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}
/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}
.toggle{
  margin-top: 65px;
  margin-right: 40px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    /* margin-top: 70px; */
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
body.dark .switch::before{
    left: 20px;
}
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
/* navbar */
.navigation{
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
  background-color: #031a4d;
  color: #fff;
}
.navigation .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav-bar .sidebarOpen{
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
.navigation .nav-bar .logo a{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  margin-left: -150px;
}
.menu .logo-toggle{
  display: none;
}
.nav-bar .nav-links{
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}
.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}
.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before{
  opacity: 1;
}

@media (max-width: 790px) {
  navigation .nav-bar .sidebarOpen{
      display: block;
  }
  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }
  .navigation.active .menu{
      left: -0%;
  }
  .navigation.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }
  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo-toggle .siderbarClose{
      color: var(--text-color);
      font-size: 24px;
      cursor: pointer;
  }
  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }
  .nav-links li a{
      display: block;
      margin-top: 20px;
  }
}

  