body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, #0033A0 0%, #B22234 100%);
    font-family: "work sans";
  }

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    max-width: 1000px;
    min-width: 300px;
    height: 375px;
    background-color: #ffff;
    /* background: rgba(255, 255, 255, 0.5); */
    margin-top: -140px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  h1{
    margin-top: -0.8px;
  }
  
  .form input {
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: linear-gradient(135deg, #0033A0 0%, #B22234 100%);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .form button:hover,.form button:active,.form button:focus {
    /* background: #43A047; */
    background: linear-gradient(135deg, #0033A0 0%, #B22234 100%);
    opacity: 0.8;
  }
  
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  .options{
    margin-top: 20px;
  }
  
  .options a {
    /* margin-right: 20px; */
    display: block;
    margin-bottom: 10px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    
  }